target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/*
*.iws
*.iml
*.ipr
.gradle
build/*
**/.idea/**
.idea/libraries/
*.ico

### База данных H2 ###
data/
*.db
*.mv.db
*.trace.db

docker

# Images
**/static/images/*.png
**/static/images/*.jpg
**/static/images/*.jpeg
**/static/images/*.gif
